:host, :root{
	--ion-color-primary: #3880ff;
}
.menu-content {
	height: 100%;
  overflow: auto;
}
ion-fab-button {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.dialog{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0005;
	z-index: 100;
	overflow: auto;
}
.dialog .body{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 360px;
	background-color: white;
	border-radius: 5px;
}
.dialog h3{
	font-weight: 700;
	text-align: center;
	color: #333;
	margin-top: 0;
}
.dialog .options{
	display: flex;
	justify-content: flex-end;
}
ion-searchbar{
  position: fixed!important;
  z-index: 100;
  top: 0;
  right: 0; 
  transform: scaleX(0);
  transition: transform 400ms ease 0ms; 
}
ion-searchbar.shown{
  transform: scaleX(1);
  transition: transform 400ms ease 0ms;
}